 /* ============================================= */
  /*              Variables                       */
  /* ============================================= */

   // Colors
   $color-main: #7477BF;
   $color-dark-purple: #4D4C72;
   $color-grey: #f5f5f5;
   $color-dark-grey: #999999;


   // Border
   $border-thin: 1px $color-dark-grey solid;
 
